
  <nav class="navbar navbar-expand-lg navbar-dark bg-info">
    <a class="navbar-brand" href="/">Blog</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto mr-2">
       
        <% if(path.split("/")[1]!=='dashboard'){ %>
          <li class="nav-item">
            <a
              class="nav-link <%= path==='/auth/login'?'active':'' %>"
              href="/auth/login"
              >Login</a
            >
          </li>
          <% } %>
      </ul>
    </div>
  </nav>
  