<ul class="list-group list-group-flush mt-5" style="height: auto;text-align: center;">
    
    <li class="list-group-item <%= path==='/dashboard/add-blog'?'active':'' %>">
      <a href="/dashboard/add-blog">Add Blogs</a>
    </li>
    <li
    class="list-group-item <%= path==='/dashboard/add-category'?'active':'' %>"
  >
    <a href="/dashboard/add-category">Add Category</a>
  </li>
    <li
      class="list-group-item <%= path==='/dashboard/all-category'?'active':'' %>"
    >
      <a href="/dashboard/all-categories">Cateogies Details</a>
    </li>
    <li class="list-group-item <%= path==='/dashboard/all-blog'?'active':'' %>">
      <a href="/dashboard/all-blog">Blogs Details</a>
    </li>
  
    <li class="list-group-item">
     
     <form action="/auth/logout" method="POST">
      <button type="submit" class="btn btn-block btn-warning">Logout</button>
    </form>
    </li>
  </ul>
  