<%- include('../../includes/first') %>

    <title><%= title %></title>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
  </head>
  <body>
    <%- include('../../includes/navbar') %>

    <div class="container-fluid" style="min-height: 90vh;">
      <div class="row" style="height: 100vh;">
        <div class="col-md-2"  style="background-color: #e1ebf5; height: 90vh;">
          <%- include('../../includes/sidebar') %>
        </div>
        <div class="col-md-10">
            <div class="judmbotron pt-3 mgt-2">
              <h2>Add Blog</h2>
              <hr class="bg-dark my-2">
              <form action="/dashboard/add-blog" onsubmit="return verifyPost()" class="mt-3" method="POST" enctype="multipart/form-data">
                <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="title">Title:</label>
                      <input type="text" value="<%= blog.title %>" required name="title" id="title" placeholder="Title" class="form-control">
                    </div>
                  </div>
                 
                  <div class="col">
                    <div class="form-group">
                      <label for="category">Category:</label>
                      <select required name="category" id="category" class="form-control">
                        <% for(c of category){ %>
                          <option <%= c.name===blog.category?'selected':'' %> value="<%= c.name %>"><%= c.name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label for="content">Blog Description:</label>
                  <textarea required name="desc" id="desc" cols="30" rows="10"><%= blog.description %></textarea>
                </div>
                <div class="form-group">
                  <label for="photo">Choose Photo: </label>
                  <input required type="file" accept="image/*" name="image">
                  <span style="float: right;">
                    <a href="/dashboard" class="btn btn-secondary">Cancel</a>                   
                    <button type="submit" class="btn btn-primary">Save Blog</button>
                  </span>
                </div>
              </form>
            </div>
        </div>
      </div>
    </div>
    <script>
      CKEDITOR.replace('desc');
      function verifyPost() {
        return true;
      }


    </script>


    <%- include('../../includes/cdnlink') %>