<%- include('../../includes/first') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../../includes/navbar') %>

    <div class="container-fluid" style="min-height: 90vh;">
      <div class="row" style="height: 90vh;">
        <div class="col-md-2"  style="background-color: #e9ecef; height: 90vh;">
          <%- include('../../includes/sidebar') %>
        </div>
        <div class="col-md-10">
            <div class="p-3 mt-2">
              <h2 class="text-center">All Category</h2>
              <hr class="bg-dark my-2">
              <%  if(category.length===0){ %>
                <div class="text-center" style="border: 2px solid black; width: auto;position: absolute;top:200px;left: 320px;padding: 100px;">
                  <h3 class="text-danger">Category Not Avialiable! Add Please...</h3>
                  <a href="/dashboard/add-category" class="btn btn-primary">Add a new category</a>
                </div>
              <% } else { %>
                <div class="mt-3">
                  <div class="table-responsive" >
                    <table class="table table-striped table-hover">
                      <thead class="thead-dark">
                        <tr>
                          <th>Category Name</th>
                          <th>Update</th>
                          <th>Remove</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% for(category of category){ %>
                          <tr>
                            <td><%= category.name %></td>
                             <td><!--<button onclick="editCategory('<%= category._id %>','<%= category.name %>')" class="btn btn-sm btn-secondary">Update</button></td> -->
                                <form action="/dashboard/get-edit-category" method="POST">
                                  <input type="hidden" value="<%= category._id %>" name="categoryid">
                                  <button class="btn btn-danger" type="submit">Update</button>
                               </form>
                            <td>
                              <form action="/dashboard/delete-category" method="POST">
                                <input type="hidden" value="<%= category._id %>" name="categoryid">
                                <button class="btn btn-danger" type="submit">Delete</button>
                            </form>
                             
                            </td>
                          </tr>
                        <% } %>
                      </tbody>
                    </table>
                  </div>
                </div>
              <% } %>
            </div>
        </div>
      </div>
    </div>
    <%- include('../../includes/cdnlink') %>