<%- include('../../includes/first') %>
      <title><%= title %></title>
  </head>
  <body>
    <%- include('../../includes/navbar') %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3 col-sm-12" style="background-color: rgb(245, 216, 173);">
          <%- include('../../includes/sidebar') %>
        </div>
        <div class="col-lg-9 col sm-12">
          <div class="p-5 mt-3">
              <h2 class="text-center">All Blogs</h2>
              <hr class="my-2 bg-primary">
          </div>
          <% if(blogs.length===0) { %>
            <div class="text-center" style="border: 2px solid black; width: auto;position: absolute;top:200px;left: 300px;padding: 100px;">
              <h2 class="text-danger">Blogs Not Avialiable yet! Add Please...</h2>
              <a href="/dashboard/add-blog" class="btn btn-primary">Write a Blog</a>
            </div>
          <% } else { %>
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-hover text-center">
                <thead class="table-primary">
                  <tr>
                    <th>Title</th>
                    <th>Image</th>
                    <th>Slug</th>
                    <th>Category</th>
                    <th>Edit Operations</th>
                    <th>Delete Operations</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(blog of blogs) { %>
                      <tr>
                        <td><p><%= blog.title %><p></td>
                          <td><img src="<%= blog.imageUrl %>" width="100px" height="70px" alt=""></td>
                          <td><p><%= blog.slug %></p></td>
                          <td><p><%= blog.category %></p></td>
                          <td>
                            <form action="/dashboard/edit-blog" style="display: inline;" method="get">
                              <input type="hidden" name="bgid" value="<%= blog._id %>">
                              <button type="submit" class="btn btn-primary btn-block p-2">
                                Edit
                              </button>
                            </form>
                          </td>
                          <td>
                            <form action="/dashboard/delete-blog" style="display: inline;" method="post">
                              <input type="hidden" name="blogid" value="<%= blog._id %>">
                              <button type="submit" class="btn btn-warning btn-block p-2">
                                Delete
                              </button>
                            </form>
                          </td>
                      </tr>
                    <% } %>
                </tbody>
              </table>
            </div>
         <% } %>
        </div>
      </div>
    </div>
  </body>