<%- include('../../includes/first') %>

    <title><%= title %></title>
    <script src="https://cdn.ckeditor.com/4.15.0/standard/ckeditor.js"></script>
  </head>
  <body>
    <%- include('../../includes/navbar') %>

    <div class="container-fluid" style="min-height: 90vh;">
      <div class="row" style="height: 90vh;">
        <div class="col-md-2"  style="background-color: #e9ecef; height: 90vh;">
          <%- include('../../includes/sidebar') %>
        </div>
        <div class="col-md-10">
            <div class="p-3 mt-2">
              <h2 class="text-center">Edit Kro Blog</h2>
              <hr class="bg-dark my-2">
              
              <form action="/dashboard/edit-blog" class="mt-3" method="POST" enctype="multipart/form-data">
               
                <div class="row">
                  <div class="col">
                   
                    <div class="form-group">
                      <label for="title">Title:</label>
                      <input onkeyup="updateSlug()" type="text" value="<%= blog.title %>" required name="title" id="title" placeholder="Title" class="form-control">
                    </div>
                  </div>
                </div>
                  <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="slug">Slug:</label>
                      <input type="text" required name="slug" value="<%= blog.slug %>" id="slug" placeholder="Slug" class="form-control">
                    </div>
                  </div>
                  </div>
                  <div class="row">
                  <div class="col">
                    <div class="form-group">
                      <label for="category">Category:</label>
                      <select required name="category" id="category" class="form-control">
                        <% for(c of category){ %>
                          <option <%= c.name===blog.category?'selected':'' %> value="<%= c.name %>"><%= c.name %></option>
                        <% } %>
                      </select>
                    </div>
                  </div>
                </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="content">Blog Description:</label>
                      <textarea required name="description" id="content" cols="30" rows="10"><%= blog.description %></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div class="form-group">
                      <label for="photo">Choose Photo: </label>
                      <input required type="file" accept="image/*" name="image">
                      <br>
                        <span style="margin-left: 300px;">
                          <a href="/dashboard" class="btn btn-secondary">Cancel</a>                   
                        <input type="hidden" name="bgId" value="<%= blog._id %>">
                        <button type="submit" class="btn btn-primary btn-lg">Save Blog</button>
                        </span>
                      
                    </div>
                  </div>
                </div>
              
                
                <div class="form-group text-center">
                  
                </div>
              </form>
              
            </div>
        </div>
      </div>
    <script>
      CKEDITOR.replace('content');
        </script>
    <%- include('../../includes/cdnlink') %>