<%- include('../../includes/first') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../../includes/navbar') %>

    <div class="container-fluid" style="min-height: 90vh;">
      <div class="row" style="height: 90vh;">
        <div class="col-md-2"  style="background-color: #e9ecef; height: 90vh;">
          <%- include('../../includes/sidebar') %>
        </div>
        <div class="col-md-10">
          <div class="row">
            <div class="col-md-3">

            </div>
            <div class="col-md-6">
              <div class="jumbotron p-3 mt-2">
                <h2 class="text-center">Add Category</h2>
                <hr class="bg-dark my-2">
              
                <form onsubmit="return editCategory()" method="POST" class="mt-4" action="/dashboard/post-edit-category">
                  <div class="form-group">
                    <label for="new_category">Category:</label>
                    <input type="text" id="new_category" value="<%= category.name %>" name="catname" placeholder="Category Name" class="form-control">
                  </div>
                  <div class="form-group text-right">
                    <a href="/dashboard/all-categories" class="btn btn-secondary">Cancel</a>                   
                            <input type="hidden" value="<%= category._id %>" name="categoryid">
                            <button class="btn btn-danger" type="submit">Update</button>
                   
                  </div>
                </form>
                
              </div>
            </div>
            <div class="col-md-3">
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <%- include('../../includes/cdnlink') %>
    