<%- include('../includes/first') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../includes/navbar') %>
    <div class="container-fluid mt-3">
      <h2 class="text-primary text-center">Welcome To Blog Website</h2>
      <hr class="bg-dark">

      <div class="p-3">
        <div class="p-1 bg-white">
          <div class="row my-3">
            <div class="col-sm-12 col-lg-4"></div>
            <div class="col-sm-12 col-lg-8">
              <form action="/search" class="form-inline" method="POST">
                <div class="form-group">
                  <!-- <label for="search">Search: </label> -->
                  <input type="text" name="search" placeholder="Type search query here..." class="form-control">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
            </div>
          </div>
        </div>
        </div>
        </div>

        <div class="container">
          <div class="row">
            <% if(blog.length===0) { %>
              <div class="col">
                <div class="text-center text-danger">
                  <h1> No Blogs Found!</h1>
                </div>
              </div>
            <% } else { %>
              <%  for(b of blog) { %>
                <div class="col-md-4">
                  <div class="card my-2" style="border: 1px solid black;">
                 
                      <img class="card-img-top img-responsive img-thumbnail" style="width: 250px;height: 200px; object-fit: cover;margin-left: 50px;" src="<%= b.imageUrl %>" alt="Card image cap">
                  
                    <div class="card-body">
                      <h5 class="card-title"><b><%= b.title %></b></h5>
                      <p class="card-text">
                        By: <%= b.author %> <br> 
                        On: <%= new Date(b.publishDate).toString().substring(0,15) %> <br>
                        Category: <%= b.category %> 
                      </p>
                      <a href="/<%= b.slug %>" class="btn btn-primary">Blog Details</a>
                    </div>
                  </div>
                </div>
              <% } %>
            <% } %>
          </div>
        </div>
      </div>
    </div>


    <%- include('../includes/cdnlink') %>