<%- include('../includes/first') %>

    <title><%= title %></title>
  </head>
  <body>
    <%- include('../includes/navbar') %>

    <div class="container mt-5">
        <div class="text-center">
            <h1>Blog Details</h1>
            <hr class="bg-primary">

            <div class="card" style="width:400px;height: 520px;margin: 0 auto;cursor: pointer;">
                <img class="card-img-top" src="<%= blog.imageUrl %>" alt="Card image" style="width:100%;height: 300px;">
                <div class="card-body">
                  <h1 class="card-title"><%= blog.title %></h1>
                  <p class="card-text">Published On: <span class="text-info"><%= new Date(blog.publishDate).toString() %></span></p>
                  <p class="card-text">Published By: <span class="text-info"><%= blog.author %></span> </p>
                  <p class="card-text">Category: <span class="text-info"><%= blog.category %></span></p>  
                </div>
            </div>
        </div>  
    </div>

    <%- include('../includes/cdnlink') %>
    