<%- include('../includes/first') %>

    <title><%= title %></title>
    
  </head>
  <body>
    <%- include('../includes/navbar') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4"></div> 
            <div class="col-md-4">
                <div class="jumbotron p-3 mt-5">
                    <h3 class="text-center">MEMBER LOGIN</h3>
                    <hr class="my-1 bg-dark">
                    <div class="mt-3">
                        <form onsubmit="return checkCredentialFormat()" action="/auth/login" method="post">
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="email" class="form-control basicAutoComplete" id="email" name="email" placeholder="Email" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="required">
                                </div>
                            </div>
                            <div class="form-group">
                                <button type="submit" id="loginBtn" class="btn btn-primary btn-block btn-lg">Sign In</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>

   

    <script>
        function checkCredentialFormat() {
            const emailFeild = document.getElementById("email");
            const passwordFeild = document.getElementById("password");
            const loginBtn = document.getElementById('loginBtn');

            if(emailFeild.value==="" || passwordFeild.value===""){
                swal("Error!","Feilds can not be empty.","error");
                return false;
            }

            loginBtn.innerText = "Logging In...";
            loginBtn.disabled = true;
            return true;
        }
    </script>

    <%- include('../includes/cdnlink') %>